body {
    background-color: #007AFF !important;
    
}

.cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.width100 {
    width: 100% !important;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.bg-success, .bg-danger {
    color: white;
}